* {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    color: #1a1a1a;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#header-nav {
    background-color: black;
    border-radius: 0;
    border: 0;
}

#header-nav button {
    margin-top: 22px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: black;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

.navbar-brand h1 {
    color: #edebeb;
    font-weight: bolder;
    font-size: 1.8em;
}

.navbar-brand a:hover {
    text-decoration: none;
}

#nav-list {
    background-color: #bfbfbf;
}

#nav-list a {
    font-weight: bolder;
    color: #282828;
    font-size: 1.2em;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid #edebeb;
}

#main-content {
    width: 92%;
    margin-bottom: 30px;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    color: #dd7070;
    margin-top: 30px;
    margin-bottom: 30px;
}

#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

#chicken-tile,
#beef-tile,
#sushi-tile {
    width: 100%;
    padding: 20px;
    background-color: #bfbfbf;
    margin-bottom: 40px;
}
